:root {
  --color-primary-red: hsl(0, 100%, 74%);
  --color-primary-green: hsl(154, 59%, 51%);
  --color-accent: hsl(248, 32%, 49%);
  --color-neutral-dark: hsl(249, 10%, 26%);
  --color-neutral-grey: hsl(246, 25%, 77%);
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-primary-red);
  background-image: url(images/bg-intro-desktop.png);
  color: #fff;
  background-position: center;
  background-size: cover;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  padding-top: 10%;
  margin: auto;
}

p {
  padding: 0;
  margin: 0;
}

/* Header */
.header {
  padding: 15% 0;
  width: 85%;
  font-size: 1.5rem;
}

.header__heading {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
  max-width: 400px;
}

.header__description {
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 400px;
}

/* Sign Up Block */
.inputblock {
  text-align: center;
  max-width: 80%;
}

.signup__trial {
  background-color: var(--color-accent);
  border-radius: 15px;
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.signup__trial p {
  font-weight: 400;
  margin: auto;
  padding: 1.5rem 0;
}

.signup__trial strong {
  font-weight: 600;
}

.signup__box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.2);
}

.signup__form {
  position: relative;
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
}

input {
  width: 85%;
  margin-top: 1.5rem;
  border-radius: 10px;
  border: 1px solid var(--color-neutral-grey);
  padding: 1.5rem;
  border-radius: 10px;
  outline-offset: -1px;
}

button {
  font-weight: 700;
  margin-top: 1.5rem;
  color: white;
  padding: 1.5rem;
  width: 70%;
  border: 0;
  border-radius: 15px;
  background-color: hsl(154, 64%, 43%);
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--color-primary-green);
}

.terms {
  color: rgb(161, 161, 161);
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.link {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-primary-red);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: gainsboro;
  opacity: 50%;
  margin-top: 10rem;
}

@media (max-width: 768px) {
  body {
    background-image: url(images/bg-intro-mobile.png);
    text-align: center;
  }

  .container {
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 0;
    width: 80%;
  }

  .header {
    text-align: center;
    margin: auto;
  }

  .header__heading {
    text-align: center;
    margin: none;
    padding: 0;
  }

  .header__description {
    text-align: center;

    margin: none;
    padding: 0;
  }

  p {
    margin: auto;
  }

  .inputblock {
    margin: auto;
  }
}

@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__heading {
    max-width: 270px;
    font-size: 2.5rem;
    text-align: center;
    margin: auto;
    padding: 0;
  }
  .inputblock {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  .attribution {
    margin-top: 2rem;
  }
}
